
<% include ./templates/headers %>

<h2>Upload Files</h2>
<form action="/upload" enctype="multipart/form-data" method="post">
	<input type="file" name="filetoUpload">
	<input class="btn" type="submit"></input>
</form>

<ul class="collection with-header">
	<li class="collection-header"><h4>My Files</h4></li>
 	 <% if(files) { %>
	 <% files.forEach(function(file) { %>
     <li class="collection-item"><div><%= file.filename %><a href="/images/<%=file.filename%>" class="secondary-content" download><i class="material-icons">file_download</i></a></div></li>

	 <% }); }  %>
 </ul>

	 <% include ./templates/footer %>
