<% include ./templates/headers %>

<html>
<head></head>
<body>
 <h2>Signup</h2>
	<form action="/signup" method="post">
		<input type="text" name="username" placeholder="username" >
		<input type="password" name="password" placeholder="password" >
		<input class="btn" type="submit"></input>
	</form>

</body>
</html>
