<html>
<head></head>
<body>
 <h2>Signup</h2>
	<form action="/signup" method="post">
		<input type="text" name="username" placeholder="username" >
		<input type="password" name="password" placeholder="password" >
		<input type="submit"></input>
	</form>
	<a href="/login">Login</a>
</body>
</html>
